<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SettingsDialog">
		<title>WESTSeer Settings</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
					<handler function="OnNotebook1PageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL1" variable="PanelGeneral" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
								<cols>3</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
										<label>Email:</label>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrlEmail" member="yes">
										<value>Text</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON1" variable="ButtonValidateEmail" member="yes">
										<label>Validate</label>
										<handler function="OnButtonValidateEmailClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
										<label>Path of Database:</label>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrlDatabase" member="yes">
										<value>Text</value>
										<style>wxTE_READONLY</style>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON2" variable="ButtonCustomiseDatabase" member="yes">
										<label>Customise</label>
										<handler function="OnButtonCustomiseDatabaseClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
										<label>#Biterms for Topic Description:</label>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="SpinCtrlBiterms" member="yes">
										<value>5</value>
										<min>3</min>
										<max>10</max>
										<handler function="OnSpinCtrlBitermsChange" entry="EVT_SPINCTRL" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON6" variable="ButtonResetBiterms" member="yes">
										<label>Reset</label>
										<handler function="OnButtonResetBitermsClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
										<label>Relative TF-IRDF Threshold:</label>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrlDouble" name="ID_SPINCTRLDOUBLE1" variable="SpinCtrlTFIRDF" member="yes">
										<value>0.3</value>
										<min>0.050000</min>
										<max>0.500000</max>
										<initial>0.050000</initial>
										<increment>0.050000</increment>
										<handler function="OnSpinCtrlTFIRDFChange" entry="EVT_SPINCTRLDOUBLE" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON7" variable="ButtonResetTFIRDF" member="yes">
										<label>Reset</label>
										<handler function="OnButtonResetTFIRDFClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
										<label>Citation Threshold:</label>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL3" variable="SpinCtrlCitations" member="yes">
										<value>20</value>
										<min>10</min>
										<handler function="OnSpinCtrlCitationsChange" entry="EVT_SPINCTRL" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON8" variable="ButtonResetCitations" member="yes">
										<label>Reset</label>
										<handler function="OnButtonResetCitationsClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>General</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL2" variable="PanelNNP" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
								<cols>3</cols>
								<growablecols>1</growablecols>
							</object>
						</object>
						<label>Neural Network for Prediction</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL3" variable="PanelLLM" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
								<cols>3</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
										<label>Model File:</label>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrl3" member="yes">
										<value>Text</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON9" variable="Button7" member="yes">
										<label>Customise</label>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Large Language Model</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="wxID_OK" variable="ButtonOK" member="yes">
							<label>OK</label>
							<handler function="OnButtonOKClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="wxID_CANCEL" variable="ButtonCancel" member="yes">
							<label>Cancel</label>
							<handler function="OnButtonCancelClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
